<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="UTF-8" />
    <title>Iguana Republic</title>
    <link rel="stylesheet" href="/css/elements/buttons.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/newNav.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/newIndex.css">
  </head>

  <body id="welcome">
    <%- include('header', { opcion: 2 }); %>
    
    <main class="main">
      <section class="home section" style="min-height: 100vh;">
        <div class="container card">
          <div class="small-container cart-page">
            <table>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                </tr>
    
                <% for (var i = 0; i < products.length; i++) { %>
                  <tr>
                      <td>
                        <div class="cart-info">
                          <img src="/img/products/<%- products[i].Product.imgProd %>" alt="">
                          <div>
                            <p><%- products[i].Product.nameProd %></p>
                            <small>Price: <%- products[i].Product.priceProd %></small>
                            <br>
                            <a href="/cart/delete/<%- products[i].idDetCart %>">Remove</a>
                          </div>
                        </div>
                      </td>
                      <td><input type="number" data-prod="<%- products[i].ProductIdProd %>" data-cart="<%- cart.idCart %>" class="quantity" value="<%- products[i].quantity %>"></td>
                      <td class="sub"><%- subtotal[0][i].total %></td>
                  </tr>
                <% } %>
            </table>
    
            <div class="total-price">
              <table>
                <td>Total</td>
                <td class="total">$<%- cart.totalPriceCart %></td>
              </table>
              <br>
            </div>
    
            <div class="checkout">
              <a href="/cart/checkout">
                <button class="cart-button">
                  <span class="add-to-cart">
                      CHECKOUT
                  </span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
