<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iguana Republic</title>

	<link rel="stylesheet" href="/css/newProductDetail.css">
	<link rel="stylesheet" href="/css/newNav.css">
	<link rel="stylesheet" href="/css/newIndex.css">
	<link rel="stylesheet" href="/css/elements/buttons.css">
	<link rel="stylesheet" href="/css/elements/quantity.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<%- include('header', { opcion: 2 }); %>

    <section class="home">
        <div class="content">
            <h1 class="title"><span><%- product.nameProd %></span></h1>
            <p class="description"><%- product.descProd %></p>
            <h3 class="price"><span>Price: </span>$<%- product.priceProd %></h3>
            <div class="price">
                <span>Stock: </span><%- product.stockProd %>
                
                <div class="wrapper">
                    <span class="minus">-</span>
                    <span class="num">1</span>
                    <span class="plus">+</span>
                </div>
            </div> <br>
                
            <button class="cart-button">
                <input type="text" id="idProd" value="<%- product.idProd %>" hidden>
                <input type="text" id="priceProd" value="<%- product.priceProd %>" hidden>
                <input type="text" id="stockProd" value="<%- product.stockProd %>" hidden>
                <span class="add-to-cart">
                    ADD TO CART
                </span>
                <span class="added">
                    ADDED :)
                </span>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fas fa-box"></i>
            </button>
        </div>

        <div class="image">
            <img src="/img//products/<%- product.imgProd %>" data-speed="-3" class="move" alt="product image">
        </div>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
	<script src="/js/scrollreveal.min.js"></script>
	<script src="/js/header.js"></script>
	<script src="/js/product_detail.js"></script>
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
	<script src="/js/addCart.js"></script>
    <script src="https://kit.fontawesome.com/74ff222a65.js" crossorigin="anonymous"></script>
</body>
</html>