<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/img/fav.png" />
    <meta name="author" content="codepixer" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>Iguana Republic</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/newNav.css" />
    <link rel="stylesheet" href="/css/elements/transition.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/elements/filter.css">
  </head>
  <body data-barba="wrapper">
    
    <div class="transition"></div>
    <%- include('header', { opcion: 2 }); %>

    <main class="main">
      <section class="products" id="products">
        <h1 class="heading">Our <span>products</span></h1>

        <div class="categories">
          <% for (var i = 0; i < categories.length; i++) { %>
            <a class="btn hover" href="/products/<%- categories[i].idCate %>">
              <span><%- categories[i].nomCate %></span>
            </a>
          <% } %>
        </div>

        <div class="products__container container wrap">
          <div class="box-container">
            <% for (var i = 0; i < products.length; i++) { %>
              <div class="box">
                <div class="icons">
                  <a href="/products/details/<%- products[i].idProd %>" class="ri-shopping-cart-2-fill"></a>
                </div>
      
                <div class="image">
                  <img src="/img/products/<%- products[i].imgProd %>" id="prodImg" alt="">
                </div>
      
                <div class="content">
                  <h3><%- products[i].nameProd %></h3>
                  <div class="price"><span>$<%- products[i].priceProd %></span></div>
                </div>
              </div>
            <% } %>
          </div>
				</div>
      </section>
    </main>

    <script src="/js/products.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/0.0.2/barba.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="module" src="/js/transition.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
