<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - Iguana Republic</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/elements/buttons.css">
    <link rel="stylesheet" href="/css/elements/options.css">
    <link rel="stylesheet" href="/css/elements/modal.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body onload="checkCookie()">
	<section id="modal">
		<span class="overlay"></span>
		<div class="modal-box">
		<ion-icon name="alert-circle-outline"></ion-icon>
		<h2>CAUTION</h2>
		<h3>Are you sure about delete this record?</h3>

		<div class="buttons">
			<button class="close-btn">CANCEL</button>
			<a href="#" id="delete-modal"><button class="delete-btn">DELETE</button></a>
		</div>
	</div>
	</section>
    <section id="sidebar">
		<div id="logo">
			<a href="/"><img src="/img/logo.png" class="logo" alt="" title="" width="250" height="100" /></a>
		</div>
		<ul class="side-menu top">
			<li >
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/products">
					<i class='bx bxs-shopping-bag' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li class="active">
				<a href="/dashboard/clients">
					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/orders">
					<i class='bx bx-food-menu'></i>
					<span class="text">Orders</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
        <nav>
			
            <i class='bx bx-menu' ></i>
            <a href="#" class="nav-link">Clients</a>

            <form action="#">
                <div class="form-input">
                    <input type="search" name="" id="">
                    <button type="submit" class="search"><i class='bx bx-search' ></i></button>
                </div>
            </form>

            <input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
        </nav>

        <main>
            <div class="head-title">
			</div>

            <div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Clients</h3>
                        <div class="head-title" style="margin-top: 20px;">
							<div class="head-title" style="margin-top: 20px;">
								<a href="/dashboard/clients/newclient" class="submit"><span>Create new client</span><i></i></a>
							</div>
                        </div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Email</th>
								<th>User</th>
								<th>Type</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<% for (var i = 0; i < clients.length; i++) { %>
								<tr>
									<td><%- clients[i].idClient %></td>
									<td><%- clients[i].nameClient %></td>
									<td><%- clients[i].mailClient %></td>
									<td><%- clients[i].userClient %></td>
									<% if(clients[i].adminUser) { %>
										<td>Administrador</td>
									<% } else { %>
										<td>Usuario</td>
									<% } %>
									
									<td class="navigation">
										<div class="menuToggle"></div>
										<div class="menu">
											<ul>
												<li style="--i:0.1s"><a href="/dashboard/clients/info/<%- clients[i].idClient %>"><ion-icon name="alert-circle-outline"></ion-icon></a></li>
												<li style="--i:0.2s"><a href="/dashboard/clients/modify/<%- clients[i].idClient %>"><ion-icon name="create-outline"></ion-icon></a></li>
												<li style="--i:0.3s"><a onclick="showModal('clients/delete/<%- clients[i].idClient %>')" class="show-modal"><ion-icon name="trash-outline"></ion-icon></a></li>
											</ul>
										</div>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
            </div>
        </main>
    </section>
	<script src="/js/dashboard.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>