<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information - Order</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/elements/buttons.css">
    <link rel="stylesheet" href="/css/elements/options.css">
    <link rel="stylesheet" href="/css/elements/modal.css">
    <link rel="stylesheet" href="/css/elements/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Iguana Republic</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/products">
					<i class='bx bxs-shopping-bag' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
				<a href="/dashboard/clients">
					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li class="active">
				<a href="/dashboard/orders">
					<i class='bx bx-food-menu'></i>
					<span class="text">Orders</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
        <nav></nav>

        <div class="container">
            <div class="profile-card"> 
    
                <div class="profile-details">
                     <div class="intro">
                        <h2><%- client.nameClient %></h2>
                     </div>
    
                     <div class="contact-info">
                        <div class="row">
                             <div class="icon">
                                <i class="fa fa-phone"  style="color:var(--dark-magenta)"></i>
                             </div>
                             <div class="content">
                                <span>Status order</span>
                                <h5><%- order.statusOrder %></h5>
                             </div>
                        </div>
    
                        <div class="row">
                            <div class="icon">
                               <i class="fa fa-envelope-open"  style="color:var(--light-green)"></i>
                            </div>
                            <div class="content">
                               <span>Total Order</span>
                               <h5><%- order.totalOrder %></h5>
                            </div>
                       </div>
        
                       <div class="row">
                        <div class="icon">
                           <i class="fa fa-map-marker"  style="color:var(--light-purple)"></i>
                        </div>
                        <div class="content">
                           <span>Date Order</span>
                           <h5><%- order.dateOrder %></h5>
                        </div>
                     </div>
                     
                </div>
                   <a href="/dashboard/orders/modify/<%- order.idOrder %>"><button class="download-btn"> <i class="fa fa-download"></i> Modify order</button></a>
                </div>
           </div>

        <div class="about">
            <h2>Delivery details</h2>
            
            <h4>Delivery Date</h4>
            <h5><%- delivery.dateDeli %></h5>
            
            <h4>Delivery Comment</h4>
            <h5><%- delivery.commentDeli %></h5>

        </div>
    </section>
    
    <div id="content">
      <main>
         <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Products of the order</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < products.length; i++) { %>
                            <tr>
                                <td><%- products[i].Product.nameProd %></td>
                                <td><%- products[i].unitPrice %></td>
                                <td><%- products[i].quantity %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
         </div>
      </main>
</div>

	<script src="/js/dashboard.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>